<nav class="navbar">
  <div class="logo-container flex gap-80">
    <a href="#" class="flex logo-link">
      <img class="logo" src="../assets/clothing-logo.png" />
      <p class="text-3xl">Shopify</p>
    </a>
  </div>

  <div class="nav-links">
    <a routerLink="/Auth" class="nav-link">
      <span class="material-icons">person</span>
      <p class="">Sign In</p>
    </a>

    <a routerLink="/products" class="nav-link">
      <span class="material-icons">dataset</span>
      <p class="">Products</p>
    </a>

    <a href="#" class="nav-link">
      <span class="material-icons">shopping_bag</span>
      <div class="flex">
        <p class="">Shopping Bag</p>
        <div>
          <div class="w-5 h-5 bg-gray-400 flex counter">
            <span class="m-auto quantity">1</span>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- <div class="search-cont">
    <div class="w-10 h-10 bg-gray-400"></div>
  </div> -->
</nav>

<router-outlet></router-outlet>
